{% if not build_stage %}
FROM python:3.11-slim-bullseye as build

RUN apt-get update && apt-get upgrade -y && apt-get install gcc git curl -y && \
    pip install --upgrade pip && \
    pip install uvicorn[standard] pydantic


FROM build

ARG RANDOM_STRING=1

{% if is_local %}
COPY {{ local_path }} /
{% endif %}


RUN pip install {{ pip_package }}
{% else %}
FROM {{ build_stage }}
{% endif %}

COPY frameworks/{{ framework }}_app.py /app.py
COPY test_data/ /test_data/
COPY run_app.sh /

ENTRYPOINT /run_app.sh
